@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: grid;
  /* height: 100vh; */
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #41cfdcbf 0%, #ffb0009e 100%);
}

::selection {
  background: #ff80bf;

}

.container {
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.container form .title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.container form .title:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}

.container form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

.container form .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}

.container form .underline::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}

.container form .underline::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

.container form .input-box input:focus~.underline::after,
.container form .input-box input:valid~.underline::after {
  transform: scaleX(1);
  transform-origin: left;
}

.container form .button {
  margin: 40px 0 20px 0;
}

.container .input-box .login_button {
  background: linear-gradient(to right, #0df8dc 0%, #0df8dc 100%);
  font-size: 30px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container .input-box .login_button:hover {
  letter-spacing: 5px;
  background: linear-gradient(to left, #0df8dc 0%, #0df8dc 100%);
}

.container .option {
  font-size: 14px;
  text-align: center;
}


/* Portal Header */


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  width: inherit;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.portal-logo {
  width: 50px;
  height: 50px;
}

/* Table view */

.container-table {
  padding: 2rem 3rem;
  background-color: aliceblue;
  border-radius: 15px;
  /* padding: 40px; */
}
h4 {
  margin: 2rem 0rem 1rem;
}
.table-image td, .table-image th {
  vertical-align: middle;
}

/* button alignment */
.container-table .main-row{
  margin-top: 10px;
}